/* =============
    Base
============= */


ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}


a{
    text-decoration: none;
}

.show-for-md{
    display: none;
    
    @include md{
        display: block;
    }
}

.hide-for-lg{
    display: block;

    @include lg{
        display: none !important;
    }
}

.bold{
    font-weight: 800;
}