/* =============
    Typography
============= */
// font-family: 'Comfortaa', cursive;
// font-family: 'Corben', cursive;
// font-family: 'Open Sans', sans-serif;

body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}