/* =============
    Index Hero
============= */

#index-hero{
    height: 80vh;
    background-image: url("../img/index/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    align-items: flex-end;

    >div{
        width: 100%;

        #heart-container{
            display: flex;
            justify-content: center;
        }

        section{
            background-color: rgba(0,0,0,.5);
            padding: 16px;
            margin-top: -16px;
            width: 100%;
            box-sizing: border-box;

         
            h1{
                color: var(--white);
                font-size: rem-calc(20);
                font-weight: 400;
                @include md{
                    padding-left:20%;
                    padding-right: 20%;
                    font-size: rem-calc(30);
                }

                @include lg{
                    padding-left:30%;
                    padding-right: 30%;
                    font-size: rem-calc(40);
                }

                @include xxl{
                    padding-left:35%;
                    padding-right: 35%;
                }
            }

            h2{
                color: var(--white);
                font-size: rem-calc(18);
                font-weight: 600;
                margin-top: 16px;
                @include md{
                    padding-left:20%;
                    padding-right: 20%;
                    font-size: rem-calc(25);
                }

                @include lg{
                    padding-left:30%;
                    padding-right: 30%;
                    font-size: rem-calc(30);
                }

                @include xxl{
                    padding-left:35%;
                    padding-right: 35%;
                }
            }
        }
    }
}