/* =============
    Header
============= */
header{
    background-color: var(--lightBlue);
    display:  grid;
    grid-template-columns: 50% auto;
    padding: 16px;

    button{
        border: none;
        background-color: transparent;
    }

    aside{
        div{
            display: flex;
            align-items: center;
            color: var(--darkBlue);

            img{
                margin-right: 16px;
            }

            h1{
                font-family: 'Corben', cursive;
                font-weight: 400;
            }

            h2{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: rem-calc(20);
            }
        }
    }

    #burger-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        i{
            color: var(--darkBlue);
            // color: var(--lightBlue);
        }
    }

    nav{

    }
}