/* =============
    Navigation
============= */
#nav-container {
    height: 100vh;
    background-color: var(--darkBlue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;

    @include lg{
        position: static;
        height: inherit;
        background-color: var(--lightBlue);
        padding: 0;
    }

    #close-btn {
        color: var(--cream);
        font-size: rem-calc(25);
        background-color: var(--cream);
        height: 50px;
        width: 50px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        .fa-duotone.fa-swap-opacity:before, .fa-duotone:after, .fa-swap-opacity .fa-duotone:before, .fa-swap-opacity .fad:before, .fad.fa-swap-opacity:before, .fad:after {
            color: var(--red);
            opacity: 1;
        }
    }

    nav {
        padding: 16px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        @include lg{
            display: block;
        }

        ul {

            @include lg{
                display: flex;
                justify-content: flex-end;
            }

            li {
                margin-bottom: 32px;
                text-align: right;

                @include lg{
                   margin-left: 32px;
                    margin-bottom: 0;
                    text-align: left;
                }

                a:link,
                a:visited {
                    color: var(--cream);
                    font-size: rem-calc(20);
                    transition: 0.25s;

                    @include lg{
                        color: var(--blue);
                    }

                    i {
                        margin-right: 8px;
                    }

                    &:hover, &:active{
                        color: var(--cream);
                    }
                }
            }

            #shop-btn {

                a:link,
                a:visited {
                    background-color: var(--red);
                    padding: 8px 16px;
                    border-radius: 5px;
                    color: var(--cream);
                    transition: 0.25s;

                    &:hover, &:active{
                        background-color: var(--cream);
                        color: var(--red);
                    }
                }
            }
        }
    }
}